<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客列表</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script type="application/javascript" src="/static/js/jquery.min.js"></script>
    <script type="application/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">阿星的博客</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">首页</a></li>
                        <li class="active"><a href="{% url 'blog_list' %}">博客列表</a></li>
                        <li><a href="#about">About</a></li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                {% for blog in blogs %}
                <div class="jumbotron">
                    <h2>{{blog.title}}</h2>
                    <p>{{blog.body_markdown|safe|truncatechars:120|striptags}}</p>
                    <p>
                      <a class="btn btn-lg btn-primary" href="{% url 'detail' blog.slug %}" role="button">阅读全文</a>
                    </p>
                </div>
                {% endfor %}
            </div>
            <div class="hidden-xs col-sm-2">
                占位，留待后续内容
            </div>
        </div>
    </div>

    <footer>
        <div class="author-date">
            <p>Copyright © 2018 <a href="https://github.com/wongjyusing">Sing</a>. Powered by Django2.1</p>
            <p>粤ICP备18079962号</p></div>
    </footer>

    </body>
</html>
